{% extends "terminimal/templates/index.html" %}

<!-- Add Mastodon identity header. -->
{% block extra_head %}
<link rel="me" href="https://hachyderm.io/@opeik" />
{% endblock extra_head %}

<!-- Add custom footer. -->
{% block footer %}

{% if config.extra.version %}
{% set version = config.extra.version %}
{% endif %}

<footer class="footer">
    <div class="footer__inner">
        <div class="copyright">
            <span>
                © {{ date_macros::now_year() }} {{ config.extra.author }} ::

                {% if version %}
                version <a href="{{ config.extra.version_url }}/{{ version }}">
                    {{ version | truncate(length=7, end="") }}</a> ::
                {% endif %}

                <a href="{{ config.extra.source_url }}">source</a> ::
                <a href="{{ get_url(path='atom.xml', trailing_slash=false) }}">rss</a>
            </span>
        </div>
    </div>
</footer>
{% endblock footer %}
